# nim.cfg
# Configuration for the C compiler and the Nim compiler

--threads:on
define:ssl
passL:"-lssl -lcrypto"

@if release:
  define:danger
  define:lto
  define:strip

  # Explicitly flags for strip and LTO
  passL:"-s"
  passC:"-flto"
  passL:"-flto"
  passC:"-O2"
  passC:"-ffunction-sections -fdata-sections"
  passL:"-Wl,--gc-sections"
  passC:"-fno-unwind-tables -fno-asynchronous-unwind-tables"

  # Suppress benign LTO warnings common in Nim's generated C code
  passC:"-Wno-stringop-overflow"
  passL:"-Wno-stringop-overflow"
@end
