pkgbase = parun
	pkgdesc = Terminal UI for pacman, AUR, and nimble
	pkgver = 0.6.0
	pkgrel = 1
	url = https://github.com/gabrielcapilla/parun
	arch = x86_64
	license = MIT
	makedepends = nim
	depends = pacman
	depends = nimble
	depends = openssl
	source = parun-0.6.0.tar.gz::https://github.com/gabrielcapilla/parun/archive/refs/tags/v0.6.0.tar.gz
	sha256sums = REPLACE_WITH_TAG_TARBALL_SHA256

pkgname = parun
